:root{
    /* bg colors  */
    --bg-primary-color: #121212;
    --bg-secondary-color: #1b1a1a;
    --bg-active-color: #e8e8e8;

    /* text colors  */
    --text-primary-color: #ebe5e5;
    --text-secondary-color: #b4afaf;
    --text-tertiary-color: #6f6b6b;
    --text-active-color: #100f0f;
    
    /* gutter  */
    --gutter-sm:0.5rem;
    --gutter-md:1rem;
    --gutter-lg:1.5rem;
    --gutter-xl:2rem;
    --gutter-2xl:3rem;

    /* padding  */
    --padding-sm:0.5rem;
    --padding-md:1rem;
    --padding-lg:1.5rem;
    --padding-xl:2rem;
    --padding-2xl:3rem;
    /* font sizes  */
    --font-size-sm:0.875rem;
    --font-size-md:1rem;
    --font-size-lg:1.25rem;
    --font-size-xl:1.5rem;
    --font-size-2xl:2rem;
    --font-size-3xl:3rem;
    /* margins  */
    --margin-sm:0.5rem;
    --margin-md:1rem;
    --margin-lg:1.5rem;
    --margin-xl:2rem;
    --margin-2xl:3rem;
    /* border radius  */
    --border-radius-sm:4px;
    --border-radius-md:8px;
    --border-radius-lg:12px;
    --border-radius-xl:16px;
    --border-radius-2xl:24px;
}